.container {
  height: auto;
  display: flex;
  & .menu {
    margin-top: 8px;
    max-height: 200px;
    min-width: 150px;
  }
  & .content {
    display: flex;
    height: 100%;
    position: relative;
  }
}

.disabled {
  pointer-events: none;
}
