@value unit from "../global/global.css";

.container {
  position: fixed;
  z-index: var(--z-index-medium);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  overflow: auto;

  padding: calc(unit * 4) unit;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: var(--z-index-medium);
  background-color: rgba(0, 0, 0, 0.45);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--disabled-color);
  &:hover {
    color: black;
  }
}
.disabled {
  & .close {
    &:hover {
      color: var(--disabled-color);
    }
  }
}

.content {
  min-height: calc(unit * 15);
  max-height: 100%;
  margin: auto;

  cursor: default;
  overflow-wrap: break-word;

  & .panel {
    padding: 16px 32px;
    background-color: white;
    box-shadow: 0 2px 16px var(--line-color);
    border-radius: var(--border-radius);
  }
}
