.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.shadowsockses {
  display: flex;
  flex-wrap: wrap;
}
.title {
  display: flex;
  font-weight: bold;
  font-size: var(--font-size-larger);
  margin: 10px;
  justify-content: space-between;
  & .dropdownToggle {
    cursor: pointer;
    color: var(--border-color);
    &:hover {
      color: black;
    }
  }
}
