.title {
  font-weight: 600;
  font-size: var(--font-size-larger);
}

.body {
  min-width: 400px;
  min-height: 500px;
}

.input {
  font-size: var(--font-size-larger);
}

.item {
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  flex-direction: row-reverse;
  display: flex;
  bottom: 10px;
  right: 20px;
  & button {
    margin: 0 10px;
  }
}
.adornment {
  color: var(--icon-color);
  &:hover {
    color: var(--icon-hover-color);
  }
  padding: 0;
}

.delayInput {
  position: relative;
  display: flex;
  left: 25px;
  & .label {
    margin: auto 10px;
  }
  & .field {
    width: 40px;
    text-align: center;
    & input {
      text-align: center;
      font-size: var(--font-size-larger);
    }
  }
}
