.server {
  display: flex;
  position: relative;
  margin: 10px 5px;
  & .dot {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  & .card {
    height: 80px;
    width: 180px;
  }
  & .selected {
    border: 1px solid var(--success-color);
    height: 78px;
    width: 178px;
  }
  & .dropdown {
    color: var(--icon-color);
    cursor: pointer;
    position: absolute;
    right: 16px;
    padding: 0;
    top: 8px;
    &:hover {
      color: var(--icon-hover-color);
    }
  }
  & .checkbox {
    cursor: pointer;
    position: absolute;
    right: 8px;
    padding: 0;
    top: 8px;
  }

  & .flagContainer {
    margin: auto 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    & .flag {
      /*
      "1" px is a little tricky.
       The content's height value should be a little larger than container's or the circle is incomplete.
       */
      font-size: 41px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    & .loading {
      color: var(--disabled-color);
      margin: auto;
    }
  }

  & .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    & .title {
      margin: 0;
      font-weight: 600;
      font-size: var(--font-size);
    }
  }
  & .delay {
    font-size: var(--font-size-smaller);
    position: absolute;
    padding: 0;
    bottom: 10px;
    right: 10px;
    height: auto;
    margin: 0;
  }
  & .fast {
    color: var(--success-color);
  }
  & .slow {
    color: var(--warning-color);
  }
  & .timeout {
    color: var(--error-color);
  }
}

.status {
  width: 180px;
  height: 80px;

  & .iconContainer {
    margin: auto 10px;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    & .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    & .title {
      font-size: var(--font-size-smaller);
    }
    & .data {
      font-size: var(--font-size-larger);
      font-weight: bold;
    }
  }
}

.speed {
  width: 100%;
  height: 200px;
  pointer-events: auto;
}

.latency {
  display: flex;
  width: 100%;
  justify-content: space-between;

  & .card {
    position: relative;
    & .tooltip {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      color: var(--icon-color);
      &:hover {
        color: var(--icon-hover-color);
      }
    }
  }

  & .dns {
    background-color: #f2ebfb;
    color: #7844dd;
  }

  & .internet {
    background-color: #eef9ff;
    color: #50baff;
  }

  & .server {
    background-color: #fef3ef;
    color: #ff8b58;
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
}
