.container {
  font-size: 16px;
  border-collapse: collapse;
  margin-top: 10px;

  & .head {
    text-align: left;
    border-bottom: 1px solid var(--line-color);
    & .column {
      padding: 8px 16px;
      font-weight: 500;
    }
  }

  & .row {
    height: 40px;
    position: relative;

    & .cell {
      white-space: nowrap;
      padding: 8px 16px;
      border-bottom: 1px solid var(--line-color);
    }
  }
}
