.container {
  z-index: var(--z-index-top);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #bbbdc9;
  overflow: auto;
  & .list {
    padding: 4px;
    list-style: none;
    & .divider {
      margin: 5px 0;
      height: 1px;
      background: linear-gradient(to right, #dcdcdc, rgba(220, 220, 220, 0));
    }
    & .item {
      display: flex;
      cursor: pointer;
      height: 40px;
      font-size: 16px;
      font-weight: normal;
      color: var(--text-color);
      & svg {
        color: var(--main-color);
      }
      & .content {
        margin: auto 8px;
      }

      & .text {
        margin-left: 8px;
      }

      &:hover {
        background-color: #eeeef4;
        border-radius: 5px;
      }
    }

    & .danger {
      & svg {
        color: var(--error-color);
      }
    }

    & .disabled {
      pointer-events: none;
      & svg {
        color: var(--disabled-color);
      }
      & span {
        color: var(--disabled-color);
      }
    }
  }

  & .list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  & .list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 5px;
}
