@import "../Core/global/variables.css";
@import "../Core/global/global.css";

.container {
  display: flex;
  margin: 50px 0 25px 0;
  height: calc(100vh - 75px);
  width: 100vw;
  & .body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    width: 100%;
    & .content {
      padding: 10px;
      flex: 1;
    }
  }
}
