.container {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  & .label {
    font-size: var(--font-size-larger);
    margin-right: 8px;
    display: flex;
    & span {
      margin: auto;
    }
  }

  & .content {
    display: flex;
    height: 100%;
    position: relative;

    & .menu {
      min-width: 200px;
    }

    & .button {
      margin: auto 0;
      padding: 4px;
      min-width: 200px;

      & .value {
        margin: 0 4px;
        display: inline;
      }
    }
  }
}
