.container {
  position: fixed;
  z-index: var(--z-index-medium);
  height: 50px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  width: 100vw;
  border-bottom: 1px solid var(--line-color);
  & .selector {
    margin: auto 20px;
  }
  & .button {
    margin: auto 20px auto 0;
    width: 150px;
  }
  & .iconButtons {
    position: absolute;
    left: 10px;
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
    & .item {
      margin: auto 10px;
      padding: 0;
      &:hover {
        color: var(--main-hover-color);
      }
    }
  }
}
