.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 610px;
  height: 450px;

  & .flexContainer {
    display: flex;
    justify-content: space-between;
  }
}
