.container {
  display: flex;
  position: fixed;
  z-index: var(--z-index-medium);
  flex-direction: row-reverse;
  background-color: rgb(221, 221, 221);
  font-size: var(--font-size);
  bottom: 0;
  left: 0;
  height: 25px;
  width: 100vw;
  & .udp {
    width: 120px;
    margin: auto 5px;
    & span {
      display: inline-block;
      width: 40px;
    }
  }
  & .traffic {
    margin: auto 0;
    min-width: 150px;
  }
  & .message {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
  }
}
