.container {
  width: 300px;
  & .input {
    font-size: 18px;
  }
  & .selector {
    margin: 5px 0;
  }
  & .buttonContainer {
    margin: auto;
    & .button {
      margin: 5px 10px 0 10px;
      border-radius: 5px;
      width: 80px;
    }
  }
}

.table {
  box-shadow: none;
  width: 346px;
  & tbody {
    max-height: 200px;
    overflow-y: auto;
    display: block;
    &::-webkit-scrollbar {
      background-color: lightgray;
      width: 10px;
      height: 10px;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 5px;
    }
  }

  & thead {
    & tr {
      display: block;
      & th:nth-child(1) {
        width: 120px;
      }
      & th:nth-child(2) {
        width: 60px;
      }
    }
  }
  & .row {
    cursor: pointer;
    & button {
      visibility: hidden;
      transition: none;
      &:hover {
        background-color: var(--line-color);
        border-radius: 50%;
      }
    }
    &:hover {
      & button {
        visibility: visible;
      }
    }
    & td:nth-child(1) {
      width: 120px;
    }
    & td:nth-child(2) {
      width: 60px;
    }
    & td:nth-child(3) {
      width: 60px;
    }

    & .delete {
      height: auto;
      padding: 5px;
      & svg {
        color: var(--error-color);
      }
    }
  }
}

.editRouteForm {
  flex-direction: row;
  & .input {
    width: 136px;
    font-size: 16px;
    margin-left: 16px;
  }
  & .toggle {
    margin: auto 0;
    padding-left: 16px;
  }
  & .button {
    transform: translate(0, 3px);
    margin: auto 0 auto 5px;
    padding: 0;
    width: 46px;
    &:hover {
      color: var(--main-color);
    }
  }
}

.add {
  display: flex;
  margin-top: 10px;
  & button {
    padding: 5px;
    height: auto;
    margin: 0 auto;
    background-color: var(--line-color);
    box-shadow: 0 0 5px #bbbdc9;
    border-radius: 50%;
    &:hover {
      background-color: #d6d8e6;
    }
  }
}

.adornment {
  &:hover {
    color: rgba(17, 17, 17, 0.44);
  }
  padding: 0;
}
